.tabs-title {
  display: flex;
  align-items: center;
}

.tab-title {
  font-weight: bold;
  font-size: 38px;
  line-height: 120%;
  color: #AEAEAE;
  cursor: pointer;
  white-space: nowrap;
}
.tab-title:hover {
  color: #1B1918;
}
.tab-title--active {
  color: #1B1918;
}

.news__inner-content {
  display: none;
}
.news__inner-content--active {
  display: block;
}
.news__content {
  margin-top: 60px;
}
.news__card {
  display: flex;
  align-items: center;
}
.news__card-img {
  margin-right: 40px;
  flex-shrink: 0;
}
.news__card-img img {
  width: 100%;
}
.news__card-desc {
  max-width: 530px;
}
.news__card-time {
  display: flex;
  align-items: center;
}
.news__card-time span {
  font-size: 14px;
  line-height: 160%;
  color: #999999;
}
.news__card-time span:not(:last-child) {
  margin-right: 16px;
  padding-right: 16px;
  position: relative;
}
.news__card-time span:not(:last-child)::before {
  content: '';
  position: absolute;
  height: 12px;
  width: 1px;
  background-color: #999999;
  top: 50%;
  right: -1px;
  transform: translate(-50%, -50%);
}
.news__card-title {
  font-size: 28px;
  line-height: 130%;
  color: #1B1918;
  margin-top: 25px;
}
.news__card-text {
  font-size: 18px;
  line-height: 160%;
  color: #565656;
  margin-top: 15px;
}
.news__card-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 170%;
  color: #0723DF;
  margin-top: 15px;
  display: block;
}
.news__select {
  margin-top: 60px;
  margin-bottom: 70px;
}
.news__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px 30px;
  margin-bottom: 60px;
}
.news-card--big {
  grid-column: 1/4;
  display: flex;
  align-items: center;
}
.news-card__img--big {
  flex-shrink: 0;
}
.news-card__desc {
  margin-top: 17px;
}
.news-card__time {
  display: flex;
  align-items: center;
}
.news-card__time span {
  font-weight: 500;
  font-size: 12px;
  line-height: 160%;
  color: #999999;
}
.news-card__time span:not(:last-child) {
  position: relative;
  margin-right: 10px;
  padding-right: 10px;
}
.news-card__time span:not(:last-child)::before {
  content: '';
  position: absolute;
  height: 10px;
  width: 1px;
  background-color: #999999;
  top: 50%;
  right: -1px;
  transform: translate(-50%, -50%);
}
.news-card__title {
  font-size: 20px;
  line-height: 130%;
  color: #1B1918;
  margin-top: 7px;
}
.news-card__text {
  font-size: 16px;
  line-height: 160%;
  color: #565656;
}
.news-card__link {
  font-weight: 600;
  font-size: 15px;
  line-height: 170%;
  color: #0723DF;
  margin-top: 13px;
  display: block;
}
.news__progress {
  width: 275px;
  height: 4px;
  background: #EEEEEE;
  margin-right: auto;
  margin-left: auto;
}
.news__progress span {
  background: #0723DF;
  height: 100%;
  display: block;
}
.news__publications {
  font-size: 16px;
  line-height: 160%;
  color: #6F6F6F;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 25px;
}
.news__btn {
  margin-right: auto;
  margin-left: auto;
  width: 383px;
  height: 59px;
  font-size: 17px;
  line-height: 21px;
}

@media screen and (max-width: 1600px) {
  .news__card {
    display: block;
  }
  .news__card-img {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .news__card-desc {
    max-width: 100%;
  }
  .news__items {
    grid-template-columns: 1fr 1fr;
  }
  .news-card--big {
    grid-column: 1/3;
    display: block;
    margin-right: 0;
  }
  .news-card__img img {
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .news .tab-title {
    font-size: 18px;
    line-height: 25px;
  }
  .news .tabs__item {
    display: none;
  }
  .news__content {
    margin-top: 20px;
  }
  .news__select {
    margin: 40px 0;
  }
  .news__card-time span {
    font-size: 10px;
  }
  .news__card-time span:not(:last-child) {
    margin-right: 6px;
    padding-right: 6px;
  }
  .news__card-title {
    font-size: 16px;
    margin-top: 4px;
  }
  .news__card-text {
    margin-top: 4px;
  }
  .news__card-link {
    font-size: 12px;
    margin-top: 4px;
  }
  .news-card__desc {
    margin-top: 14px;
  }
  .news-card__time span {
    font-size: 10px;
  }
  .news-card__time span:not(:last-child) {
    margin-right: 6px;
    padding-right: 6px;
  }
  .news-card__title {
    font-size: 16px;
    margin-top: 4px;
  }
  .news-card__link {
    font-size: 12px;
    margin-top: 4px;
  }
  .news__progress {
    width: 288px;
  }
  .news__btn {
    width: 288px;
    font-size: 15px;
  }
}
@media screen and (max-width: 768px) {
  .news__items {
    grid-template-columns: 1fr;
  }
  .news-card--big {
    grid-column: 1/1;
    display: block;
  }
}
