.projects {
  padding-bottom: 60px;
}
.projects__title {
  line-height: 120%;
}
.projects__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px 20px;
  margin-top: 65px;
}
.projects__btn {
  width: 145px;
  margin-top: 40px;
}

.tabs__item {
  display: flex;
  margin-top: 50px;
  overflow-y: hidden;
}

@media screen and (max-width: 1600px) {
  .projects__items {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 992px) {
  .projects {
    padding-bottom: 30px;
  }
  .projects .tabs__item {
    margin-top: 20px;
  }
  .projects__items {
    grid-template-columns: 1fr;
    margin-top: 30px;
    gap: 20px;
  }
  .projects__btn {
    width: 100px;
    height: 36px;
    font-size: 10px;
    margin-top: 25px;
  }
}
