.projects {
    padding-bottom: 60px;
    &__title {
        line-height: 120%;
    }
    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px 20px;
        margin-top: 65px;
    }
    &__btn {
        width: 145px;
        margin-top: 40px;
    }
}

.tabs__item {
    display: flex;
    margin-top: 50px;
    overflow-y: hidden;
}

@media screen and (max-width: 1600px) {
    .projects {
        &__items {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media screen and (max-width: 992px) {
    .projects {
        padding-bottom: 30px;
        .tabs__item {
            margin-top: 20px;
        }
        &__items {
            grid-template-columns: 1fr;
            margin-top: 30px;
            gap: 20px;
            .projects-card {
                border-radius: 5px;
                &__desc {
                    padding: 25px 15px 15px 15px;
                }
                &__badge {
                    padding: 4px 8px;
                    font-size: 10px;
                }
                &__text {
                    font-size: 14px;
                    margin-top: 15px;
                }
                &__violation {
                    font-size: 12px;
                    margin-top: 15px;
                }
            }
        }
        &__btn {
            width: 100px;
            height: 36px;
            font-size: 10px;
            margin-top: 25px;
        }
    }
}